<div class="detail-header">
  <div class="row">
    <div class="col-sm-4  hidden-xs feature-info">
      <detail-info movie="movie"></detail-info>
      <!--
      <div class="detail-poster">
        <img ng-src="http://image.tmdb.org/t/p/w154{{movie.poster_path}}"/>
      </div>
      -->
    </div>
    <div class="col-sm-8 col-xs-12 detail-image">
      <carousel-detail-image images="movie.images.backdrops"></carousel-detail-image>
      <!--
      <img ng-src="http://image.tmdb.org/t/p/original{{movie.backdrop_path}}"/>
      <div class="gradiant-overlay"></div>
      -->
    </div>
  </div>
    <div class="row">
      <div class="col-xs-12  hidden-sm hidden-md hidden-lg feature-info">
        <detail-info movie="movie"></detail-info>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>SIMILAR TITLES</h2>
    <carousel-backdrop images="similar.results" detail-u-r-l="baseDetailURL"></carousel-backdrop>
  </div>
</div>
